/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* GREETING */

.div-greeting {
    margin: 3rem 5rem;
}

/* Texts */

.div-greeting h3 {
    font-family: 'AmbraSans';
    font-size: 1.8rem;
}

/* DASHBOARD */

.dashboard {
    background: var(--light);
    border-radius: 1rem;
    margin: 0 3rem 2rem;
    padding: 2rem;
}

.heading-dashboard {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem 0;
    width: 100%;
}

.table-dashboard {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Table */

table {
    border: solid .1rem var(--dark);
    border-radius: .6rem;
    border-spacing: 0;
    box-shadow: .6rem .6rem .6rem var(--dark-opacity);
    margin: 1.5rem 3rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

thead {
    background: var(--golden);
    color: var(--dark);
}

tbody {
    background: #FFFFFF;
}

th, td {
    border: solid .1rem var(--dark);
}

th {
    padding: .6rem .4rem;
}

td {
    padding: .2rem .4rem;
}

.name-cell {
    text-align: left;
}

/* Texts */

.dashboard h2 {
    font-family: 'Vanem';
    font-size: 2rem;
    color: var(--wine);
    margin-bottom: 2rem;
}

.table-message {
    color: var(--dark);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.5rem 2rem 0;
    text-align: center;
}

/* Buttons */

.heading-button {
    background: transparent;
    border: solid .2rem var(--wine);
    border-radius: 2rem;
    color: var(--wine);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2.2rem;
    outline: none;
    transition: all 300ms;
}

.heading-button:hover {
    background-color: var(--wine);
    color: var(--light);
}

td button {
    background: transparent;
    border: none;
    font-size: 1.4rem;
}

td button:first-child {
    color: #60A5FA;
}

td button:first-child:hover {
    color: #5089CE;
}

td button:last-child {
    color: #FD4747;
}

td button:last-child:hover {
    color: #D14040;
}

/* RESPONSIVE DESIGN */

@media all and (max-width: 1024px) {
    /* GREETING */

    .div-greeting {
        margin: 3rem 2rem 1.5rem;
    }

    /* Texts */

    .div-greeting h3 {
        font-family: 'AmbraSans';
        font-size: 1.4rem;
    }

    /* DASHBOARD */

    .dashboard {
        margin: 0 0 2rem;
        padding: 1.2rem;
    }

    .heading-dashboard {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem 1.5rem;
    }

    .table-dashboard {
        justify-content: start;
        overflow-x: scroll;
    }

    /* Table */

    table {
        margin: 0 0 1rem;
    }

    /* Texts */

    .dashboard h2 {
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
    }

    .table-message {
        font-size: 1.4rem;
        padding: .4rem 0 1rem;
    }
}
