/* COLORES */

:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FUENTES */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* GENERALES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* HEADER */

header {
    background-color: #000000;
    box-shadow: 0 .4rem .4rem var(--dark-opacity);
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navbar */

nav, #navbar {
    align-items: center;
    display: flex;
}

nav {
    justify-content: center;
    margin: .4rem 0;
    width: 100%;
}

#navbar {
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

#navbar li a {
    color: #FFFFFF;
    transition: .5s ease-out;
}

#navbar li a:hover {
    color: var(--golden);
}

/* Logo */

#navbar-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 15%;
}

#navbar-logo  img {
    height: 3.5rem;
    width: 14.7rem;
}

/* Links */

.navbar-link {
    font-family: 'AmbraSans';
    padding: 0 .8rem;
}

/* Actions Buttons */

#navbar-buttons {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 15%;
    padding: .6rem .8rem;
}

.navbar-button-icon {
    background-color: #000000;
    border: none;  
    cursor: pointer;
    margin: 0 .4rem;
    padding: .6rem;
    transition: .5s ease-out;
}

.navbar-button-icon:hover {
    background-color: var(--wine);
    cursor: pointer;
    border-radius: 20%;
}

.navbar-button-icon span {
    color: #FFFFFF;
    font-size: 1.2rem;
}
 
a .navbar-button {
    background: transparent;
    border: solid .165rem var(--golden);
    border-radius: 1rem;
    color: var(--golden);
    cursor: pointer;
    font-size: .85rem;
    font-weight: bold;
    margin-left: .6rem;
    padding: .25rem 1rem;
    outline: none;
    transition: all 300ms;
}

a .navbar-button:hover {
    background: var(--golden);
    color: #000000;
}

/* Toggle Menu */

.navbar-toggle {
    display: none;
}

/* RESPONSIVE DESIGN */

@media all and (max-width: 1024px) {
    /* HEADER */

    header {
        padding: .2rem;
    }

    /* Navbar */

    #navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 .4rem;
        width: 100%;
    }

    #navbar li a {
        display: block;
        padding: .4rem;
    }

    /* Logo */

    #navbar-logo {
        margin: 0;
    }

    #navbar-logo img {
        height: 2.5rem;
        width: 10.5rem;
    }

    /* Links */

    .navbar-link {
        display: none;
        order: 4;
        text-align: center;
        width: 100%;
    }
    
    .active .navbar-link {
        display: block;
    }

    #navbar-buttons {
        display: none;
        margin: 1rem 0 0;
        order: 3;
        width: 100%;
    }

    .active #navbar-buttons {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    
    .navbar-button-icon {
        margin: 0;
    }

    .navbar-button-icon span {
        font-size: 1.2rem;
    }

    .navbar-toggle {
        display: flex;
        order: 2;
        text-align: right;
    }

    a .navbar-button {
        margin: 0;
    }

    /* FOOTER */
    
}
