@font-face {
    font-display: block;
    font-family: 'icomoon';   
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.eot?w5q46k');
    src: url('../fonts/icomoon.eot?w5q46k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?w5q46k') format('truetype'),
        url('../fonts/icomoon.woff?w5q46k') format('woff'),
        url('../fonts/icomoon.svg?w5q46k#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    text-transform: none;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: never;

    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon-dashboard:before {
    content: "\e906";
}
.icon-delete:before {
    content: "\e905";
}
.icon-edit:before {
   content: "\e904";
}
.icon-user:before {
   content: "\e903";
}
.icon-shopping-cart:before {
   content: "\e901";
}
.icon-chevron-right:before {
   content: "\e900";
}
.icon-chevron-left:before {
   content: "\e902";
}
.icon-search:before {
   content: "\e986";
}
.icon-eye:before {
   content: "\e9ce";
}
.icon-eye-blocked:before {
   content: "\e9d1";
}
.icon-facebook2:before {
   content: "\ea91";
}
.icon-instagram:before {
   content: "\ea92";
}
.icon-twitter:before {
   content: "\ea96";
}
