/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121ABF;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* CAROUSEL */

#section-carousel {
    display: block;
    position: relative;
    width: 100%;
}

/* Banners */

#banners {
    display: block;
    height: 35rem;
    position: relative;
    width: 100%;
}

#banners li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
    z-index: 700;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

/* Contents */

.content-banner {
    align-items: center;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    height: 100%;
    justify-content: center;
    padding: .625rem 7.813rem;
    width: 100%;
}

.content-banner div {
    text-align: center;
}

.content-banner div h2 {
    font-family: 'Vanem';
    font-size: 3rem;
    margin-bottom: 2rem;
}

.content-banner div p {
    font-family: 'AmbraSans';
    font-size: 2rem;
}

#banner-title-1 {
    color: var(--dark);
    font-size: 3.6rem;
    margin: 8rem 0 2rem;
}

#banner-title-1 span {
    color: var(--wine);
    font-family: 'Vanem';
}

#banner-title-2 {
    color: var(--wine);
    font-size: 4rem;
    margin-top: 2rem;
    text-shadow: .4rem .4rem .4rem #000000;
}

.banner-high-text-1 {
    color: var(--wine);
    font-size: 2.6rem;
    font-weight: bold;
}

.banner-high-text-2 {
    color: #FFFFFF;
    font-size: 3.6rem;
    text-shadow: .35rem .35rem .35rem var(--dark);
}

/* Arrows */

#section-carousel .arrow-prev, #section-carousel .arrow-next{
    color: var(--dark-opacity);
    cursor: pointer;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    z-index: 800; 
}

#section-carousel .arrow-prev {
    left: 1rem;
}

#section-carousel .arrow-next {
    left: initial;
    right: 1rem;
}

/* Selectors */

.list-carousel {
    align-items: center;
    bottom: 5%;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: space-between;
    left: 50%;
    list-style: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 900;
}

.list-carousel li {
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    margin: 0 .5rem;
    width: 1rem;
}

.list-carousel li a {
    background: var(--dark-opacity);
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.item-selected {
    background: var(--dark);
}

/* WOMEN/MEN SECTION */

.div-general {
    animation-delay: .2s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 1200px;
    opacity: 1;
    width: 95%;
}

.general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
}

.img-col {
    align-items: center;
    display: flex;
    margin: 0 !important;
    padding: 0 4px;
    position: relative;
    width: calc(50% - 10px);
}

/* Content */

.col-text {
    bottom: 40px;
    left: 80px;
    position: absolute;
    text-align: left;
    width: 50%;
}

.col-text h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 10px;
    text-transform: unset;
}

.col-button{
    background: var(--wine) !important;
    border: none;
    border-radius: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 16px !important;
    font-weight: bold;
    font-style: normal;
    justify-content: center;
    letter-spacing: 0px;
    line-height: 24px !important;
    max-width: 190px !important;
    outline: none;
    padding-bottom: calc(.375em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    text-transform: none;
    transition: background .2s ease-in-out;
    white-space: nowrap;
}

/* Image */

.img-link {
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-decoration: none;
    width: 100%;
}

.img-element {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.img-element img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    width: 100%;
}

/* Animation */

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0,-20px,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* QUALITIES SECTION */

.qualities {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 1300px;
    width: 95%;
}

.qualities-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

/* Icons */

.icon-div {
    background-color: transparent !important;
    background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(0,0,0,0));
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    width: calc(25% - 20px);
}

.img-block {
    height: 60px;
}

.icon-text {
    margin-top: 15px;
}

/* Texts */

.icon-title{
    color: var(--dark);
    font-size: 23px;
    line-height: 1.125;
    margin-bottom: 0 !important;
    overflow-wrap: break-word;
}

.icon-text p {
    color: var(--dark);
    display: block;
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center; 
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 460px){
    /* CAROUSEL */

    /* Banners */

    #banners {
        height: 26rem;
    }
	
    /* Contents */

    .content-banner {
        padding: .625rem 1.4rem;
    }

    .content-banner div h2 {
        font-size: 2rem;
    }
    
    .content-banner div p {
        font-size: 1.6rem;
    }

    #banner-title-1 {
        font-size: 2rem;
        margin: 6rem 0 1.4rem;
    }
    
    #banner-title-2 {
        color: #FFFFFF;
        font-size: 2rem;
        margin: 0 0 1.6rem;
    }
    
    .banner-high-text-1 {
        font-size: 1.6rem;
    }

    .banner-high-text-2:first-child {
        display: none;
    }

    .banner-high-text-2:last-child {
        color: var(--wine);
        font-size: 1.4rem;
        text-shadow: .2rem .2rem .2rem #FFFFFF;
    }

    /* Arrows */

	#section-carousel .arrow-prev, #section-carousel .arrow-next {
		font-size: 1.5rem;
	}

	#section-carousel .arrow-prev {
		left: .6rem;
	}

	#section-carousel .arrow-next {
		right: .6rem;
	}

    /* Selectors */
	
    .list-carousel li {
        height: .6rem;
        width: .6rem;
    }

    /* WOMEN/MEN SECTION */

    .general {
        flex-direction: column;
    }

    .img-col {
        width: 100%;
    }

    /* QUALITIES SECTION */

    /* Icons */

    .icon-div {
        width: 100%;
    }

    /* Texts */

    .icon-text p {
        font-size: 1.2rem;
    }
}
