/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*definir el espacio en el contenedor general y el contenedor*/
.content-wrapper{
    padding-top: 6.6vmax;
    padding-bottom: 6.6vmax;

    justify-content: center;

    padding-right: 4vw;
    padding-left: 4vw;
    margin: 0 auto;
    box-sizing: content-box;

    display: flex;

    width: 100%;
    position: relative;

    max-width: 1500px;
}
.content{
    width: 100%;
}
/*definir el espacio de las secciones de contenido */
.page-sesion{

    margin-left: -17px;
    margin-right: -17px;

    width: auto !important;
}
.sesion-1{
    width: 41.6667%;

    float: left;
}
.u-1{
    padding-top: 0;
}
.u-2{
    clear: both;
}
.u-3{
    padding-bottom: 17px;
}
.bloque{
    padding-left: 17px;
    padding-right: 17px;

    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
}
.bloque-texto{
    clear: none;
}
.bloque-texto-content{
    outline: none;
}
.u-1-texto{
    margin-bottom: 0;

    margin-top: 0;

    word-wrap: break-word;
}
.bloque-separador hr {

    background-color: var(--dark);

    border: none;
    color: #bbb;
    height: 1px;
}
.hr{
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.datos-u3{

    margin-bottom: 0;

    margin-top: 0;

    word-wrap: break-word;

    outline: none;
}
.sesion-2{
    width: 8.3333%;

    float: left;
}
.bloque-space{
    padding-top: 0;

    clear: both;

    padding-bottom: 0;
}
.bloque-space-content{
    overflow: hidden;
    height: 34px;
    visibility: hidden;
}
.sesion-3{
    padding-right: 0;

    width: 50%;

    float: left;
}
.bloque-formulario{
    padding-top: 0;

    clear: both;

    padding-bottom: 0;
}
form {
    display: block;
    margin-top: 0em;
}
/*estilos del boton*/
.form-contents .boton-form{

    text-align: left;
}
.sistema-boton{

    line-height: normal;
    border-style: solid;

    border-width: 2px;

    padding: 1.2em 2.004em;

    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    letter-spacing: .02em;
    font-size: 1rem;

    background: transparent;

    color: var(--dark);
    border-color: var(--dark);

    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;

    display: inline-block;
    width: auto;
    height: auto;

    text-align: center;
    cursor: pointer;

    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;

    text-decoration: none;

    border-radius: 0;

    margin: 0;

    user-select: none;
    white-space: pre;

    box-sizing: border-box;

    border-image: initial;
}

input{
    writing-mode: horizontal-tb !important;


    text-rendering: auto;

    word-spacing: normal;

    text-indent: 0px;
    text-shadow: none;

    -webkit-rtl-ordering: logical;
}
 /*estilos del formulario */
 .field-list{
    line-height: normal;
 }
.fields{
    margin: 0;

    column-gap: 10px;
    display: flex;
    flex-direction: row;

    line-height: normal;
}
.content-form .field-list legend {

    padding: 0;
    border: 0;

    padding-bottom: 4px;
}
.titulo{
    color: var(--dark);

    font-size: calc((1 - 1) * 1.2vw + 1rem) !important;

    font-family: Poppins;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8em;

    display: block;
}

fieldset{

    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
legend{
    padding-inline-start: 2px;
    padding-inline-end: 2px;

}
.ZZZ{
    align-items: center;
    column-gap: 1ex;
    display: flex;
    flex-wrap: wrap;
}
