/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


/*estilos de los div extrenos*/

.common-policy{
    color: #240b34;
    word-wrap: break-word;


}

.contenido{
    animation: fadeInAnimation 2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
/*div encabezador*/
.cont-encabezado{

    text-align: center;
    background-color: #f8f8f8;
    display: grid;
    align-items: center;
    width: 100%;
    background-size: cover;
    position: relative;
    grid-template-columns: 20% 1fr 20%;
    padding: 8px 0;

}
.cont-encabezado .izq{

    justify-self: end;
}
.cont-encabezado .derech{
    justify-self: start;
}

.cont-encabezado .espacio{
    grid-column-gap: 32px;

    grid-template-columns: 64px;
    grid-template-rows: 64px;
    grid-row-gap: 24px;

    display: grid;
}
.cont-encabezado .centro{

    padding: 0 8px;
    position: relative;
}

.cont-encabezado .contenido-centro{
    padding-bottom: 16px;

    font-size: 18px;
    line-height: 22px;

    font-family: 'AmbraSans';
    font-style: oblique;
    text-transform: uppercase;
    color: var(--wine);
}
/*estilos de intento  sesión de ayuda*/
.Contenido-principal{

    text-align: center;

    padding-left: 142px;
    padding-right: 142px;

    margin: 20px 0;
}

.cont-header{

    font-size: 32px;
    line-height: 40px;

    margin-bottom: 24px;

    color: var(--dark-opacity);
    font-family: 'AmbraSans';
    margin-right: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-step{
    flex-direction: row;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 20px 20px;

}
.pie-step{
    flex-direction: row;

    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.content-stepU{
    box-shadow: 0 10px 20px 0 rgba(36,11,52,.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 12px;
    flex-grow: 1;
    text-align: left;
}
.stepHeader{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.StepHeader-numb{
    margin-right: 12px;
}
.StepHeader-tex{
    font-family: 'AmbraSans';
}
.numb{
     font-size: 20px;
    line-height: 22px;

    font-family: 'AmbraSans';
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background: var(--wine);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*intento de acerca de nosotros */
.global{
    padding-left: 142px;
    padding-right: 142px;

    padding: 24px 16px;
    display: flex;
    flex-direction: column;

}
.global-coco{
    justify-content: center;

    margin-bottom: 24px;

    display: flex;
    align-items: baseline;
}

.global-cuerpo{

}
.gcuerpoA{
    display: block;
}
.acuerdo-item{
    border-bottom: 1px solid #e5e5e5;

    background-color: #fff;

    padding: 8px;
    margin-bottom: 4px;
}
.acuerdo-coco{

    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}
.gcuerpoA .acuerdo-item .acuerdo-coco{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'AmbraSans';
}
.acuerdo-coco img{
 width: 14px;
}
h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 .menu-icon{
    width: 16px;
    height: 16px;
    margin-left: 12px;

    position: relative;
    display: block;
 }
i{
    font-style: 'AmbraSans' ,italic;
}
.acuerdo-cuerpo{
    display: none;
}
.cuerpo-item{

}
