/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* GENERALS */

.common-policy {
    color: #240B34;
    word-wrap: break-word;
}

.content {
    animation: fadeInAnimation 2s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/* HEADING CONTENT */

.heading-content {
    align-items: center;
    background-color: #f8f8f8;
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    padding: 8px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

/* Space */

.heading-content .space {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 64px;
    grid-template-rows: 64px;
    grid-row-gap: 24px;
}

.heading-content .left {
    justify-self: end;
}

.heading-content .center {
    padding: 0 8px;
    position: relative;
}

.heading-content .content-center {
    color: var(--wine);
    font-family: 'AmbraSans';
    font-size: 44px;
    font-style: oblique;
    line-height: 22px;
    padding: 32px 0 16px;
    text-transform: uppercase;
}

.heading-content .right {
    justify-self: start;
}

/* BODY CONTENT */

.body-content {
    margin: 24px 0;
    padding-left: 142px;
    padding-right: 142px;
}

.body-content div {
    display: block;
}

/* Texts */

.body-content div h2 {
    display: block;
    font-family: 'AmbraSans';
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 40px;
}

.body-content div p {
    display: block;
    font-size: 18px;
    line-height: 1.57;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body-content div span {
    font-style: oblique;
    font-weight: bold;
}

.body-content div a {
    align-items: center;
    color: var(--golden);
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* Lists */

.body-content div ul, .body-content div ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.body-content div ul {
    list-style-type: disc;
    padding-left: 64px;
}

.body-content div ol {
    list-style-type: decimal;
}

.body-content div ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* RESPONSIVE DESIGN */

@media all and (max-width: 1024px) {
    /* HEADING CONTENT */

    .heading-content {
        grid-template-columns: 1fr;
        padding: 8px 0;
    }
 
    /* Space */

    .heading-content .left, .heading-content .right {
        display: none;
    }

    .heading-content .content-center {
        font-size: 32px;
        line-height: 32px;
        padding: 16px 0 8px;
    }

    /* BODY CONTENT */

    .body-content {
        padding-left: 32px;
        padding-right: 32px;
    }

    /* Texts */

    .body-content div h2 {
        font-size: 24px;
    }

    /* Lists */

    .body-content div ul {
        padding-left: 32px;
    }
}
