/* COLORS */

:root {
    --dark: #15121A;
    --dark-opacity: #15121ABF;
    --light: #DFDDD5;
    --wine: #860038;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'Vanem';
    src: url('../../fonts/VanemNonCommercial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbraSans';
    src: url('../../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* GENERALES */

#title-products {
    color: var(--dark);
    font-family: 'Vanem';
    font-size: 2.6rem;
    margin: 2.4rem 0 1.8rem;
    text-align: center;
}

#grid-cards {
    align-items: center;
    display: grid;
    gap: 1.4rem 0;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin: 2rem;
}

/* CARD */

.card {
    background: var(--dark-opacity);
    border-radius: 1rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
    width: 20rem;
}
  
.card::before {
    background: var(--wine);
    content: '';
    height: 100%;
    position: absolute;
    top: -50%;
    transform: skewY(345deg);
    transition: 0.5s;
    width: 100%;
  }
  
.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
  
/* Image */

.card-img {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

.card-img img {
    height: 18.75rem;
    width: auto;
}

/* Content */

.card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
    position: relative;
    z-index: 2;
}
  
.card-content h3 {
    color: white;
    font-family: 'AmbraSans';
    font-size: 1.6rem;
}

.card-content a {
    background: transparent;
    border: solid .2rem var(--golden);
    border-radius: 2rem;
    color: var(--golden);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.4rem;
    padding: .5rem 2rem;
    outline: none;
    transition: all 300ms;
}

.card-content a:hover {
    background-color: var(--golden);
    color: #FFFFFF;
}
