:root {
    --dark: #15121A;
    --dark-opacity: #15121A66;
    --light: #DFDDD5;
    --wine: #860038;
    --wine-opacity: #860038BF;
    --golden: #FDBB30;
}

/* FONTS */

@font-face {
    font-family: 'AmbraSans';
    src: url('../../fonts/Ambra-Sans-Text-Bold-trial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */

#product-section, #commentaries-section {
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-info button, #commentary-button, #commentaries-section form a {
    background: transparent;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.4rem;
    outline: none;
    transition: all 300ms;
}

/* PRODUCT SECTION */

#div-product-section {
    align-items: center;
    background: var(--light);
    border-radius: 1.2rem;
    box-shadow: .6rem .6rem .6rem var(--dark-opacity);
    display: grid;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin: 3rem 5rem;
    padding: 1rem 3rem;
}

/* Image */

.product-img {
    background: var(--wine-opacity);
    border: solid .2rem var(--dark);
    border-radius: .6rem;
    height: 20rem;
    padding: 1rem;
}

.product-img img {
    height: 100%;
    width: 100%;
}

/* Content */

.product-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h2 {
    font-family: 'AmbraSans';
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

.product-info p {
    font-size: 1.6rem;
}

.product-info p span {
    color: var(--wine);
    font-weight: bold;
}

.product-info button {
    align-items: center;
    border: solid .2rem var(--dark);
    color: var(--dark);
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: .5rem 2rem;
}

.product-info button:hover {
    background-color: var(--dark);
    color: #FFFFFF;
}

.product-info button span {
    font-size: 1.5rem;
    margin-left: .4rem;
}

/* COMMENTARY SECTION */

#commentaries-section {
    flex-direction: column;
}

#div-error {
    margin: .5rem 0;
    width: 100%;
}

.error-message, .info-message {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: .3rem 0;
    text-align: center;
}

.error-message {
    background: #EF4444;
}

.info-message {
    background: #60A5FA;
}

/* Form */

#commentaries-section form {
    align-items: center;
    background: var(--golden);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

input {
    border: none;
    border-radius: .4rem;
    color: var(--dark);
    font-size: 1.2rem;
    margin-top: .6rem;
    outline: none;
    padding: .2rem .4rem;
    width: 80%;
}

#commentary-button, #commentaries-section form a {
    align-self: flex-end;
    border: solid .2rem var(--wine);
    color: var(--wine);
    font-size: .95rem;
    padding: .2rem 1.4rem;
    margin-right: 12rem;
}

#commentary-button:hover, #commentaries-section form a:hover {
    background-color: var(--wine);
    color: var(--golden);
}

/* Comentaries */

#commentaries {
    margin: 0 8rem 2rem;
}

#commentaries h2 {
    font-family: 'Vanem';
    font-size: 1.8rem;
    text-align: center;
    margin: .5rem 0 1.5rem;
}

#commentaries-list {
    list-style: none;
}

#commentaries-list li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.commentaries-message, #commentaries-list li span {
    color: var(--wine);
    font-weight: bold;
}

.commentaries-message {
    font-size: 1.4rem;
    text-align: center;
}

